
/* Reset CSS */
*{
    margin: 0;
    padding: 0;
}
/* shared styles */
body{
    margin: 0px 2%;
}
header{
    max-width: 1440px;  
}
.flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.center{
    margin: 0 auto;
}
.f28{
    font-size: 1.8rem;
}
.f24{
    font-size: 1.5rem;
}
.f52{
    font-size: 3.25rem;
}
.bold{
    font-weight: 700;
}
.semibold{
    font-weight: 600;
}
.medium{
    font-weight: 500;
}
.text-primary{
    color:rgba(58, 58, 58, 1);
}
.color-primary{
    color: rgba(224, 44, 109, 1);
}
.mt{
    margin-top: 24px;
}
.mb{
    margin-bottom: 24px;
}
.ml{
    margin-left: 24px;
}
.mr{
    margin-right: 24px;
}
.btn-primary{
    background: rgba(224, 44, 109, 1);
    color: #fff;
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
}
/* header related styles */
nav, ul{
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
}
.menu-container{
    gap: 24px;
    align-items: center;
}
.menu-bar{
    display: none;
}
.banner{
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;
}
.banner-content{
    max-width: 582px;
}
.banner-img{
    background: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    justify-content: center;
    align-items: center;
}
.banner-img img{
    height: 80%;
    width: 80%;
}

/* Small device responsiveness */
@media screen and (max-width: 576px) {
    html{
        font-size: 12px;
    }
    .hide{
        display: none;
    }
    .menu-bar{
        display: block;

    }
    .menu-brand{
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        flex-direction: row-reverse;
        width: 80%;
    }
    .brand{
        text-align: center;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content h1{
        font-size: 2rem;
        margin-top: 24px;
    }
    .banner-content p{
        font-weight: 500;
    }
}
