
/* Reset CSS */
*{
    margin: 0;
    padding: 0;
}
/* shared styles */
body{
    font-family: "Poppins", serif;
}
header,main, footer{
    max-width: 1440px;  
    margin: 0 auto;
    padding: 0 7%;
}
.flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.center{
    margin: 0 auto;
}
.f28{
    font-size: 1.8rem;
}
.f24{
    font-size: 1.5rem;
}
.f52{
    font-size: 3rem;
}
.f14{
    font-size: .8rem;
}
.f16{
    font-size: 1rem;
}
.bold{
    font-weight: 700;
}
.semibold{
    font-weight: 600;
}
.medium{
    font-weight: 500;
}
.regular{
    font-weight: 400;
}
.text-primary{
    color:rgba(58, 58, 58, 1);
}
.color-primary{
    color: rgba(224, 44, 109, 1);
}
.mt{
    margin-top: 24px;
}
.mb{
    margin-bottom: 24px;
}
.ml{
    margin-left: 24px;
}
.mr{
    margin-right: 24px;
}
.btn-primary{
    background: rgba(224, 44, 109, 1);
    color: #fff;
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content: center;
}
/* header related styles */
nav, ul{
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
}
.menu-container{
    gap: 24px;
    align-items: center;
}
.menu-bar{
    display: none;
}
.banner{
    justify-content: space-between;
    align-items: center;
    margin: 80px 0;

}
.banner-content{
    max-width: 582px;
}

.banner-img img{
    width: 40vw;
    background: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* Brand logo related styles */
.logo-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    gap: 32px;
    max-width: 987px;
    margin: 24px auto;
}
.logo-container img{
    width: 100%;
}
.brand-logo hr{
    border: 0;
    height: 1px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
}
/* Popular collection related styles */
.collection{
    margin: 80px 0;
}
.card img{
    width: 100%;
}
.rating{
    color: rgba(251, 130, 0, 1);
}
.card h3, h4, h5, p{
    margin-top: 12px;
}
.card{
    border-radius: 5px;
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.15);
    padding: 15px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
#see-more{
    text-decoration: none;
}
#see-more p{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

/* Featured products related styles */
.featured-product{
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}
.featured-product img{
    width: 100%;
    flex: 1;
}
.featured-content{
    max-width: 610px;
    flex: 1;
}
.featured-content button{
    border-radius: 2px;
}

/* footer related styles */
footer{
    background: rgba(10, 8, 38, 1);
    padding: 50px 0;
}
footer h2, footer p, footer i{
    color: white;
}
.social-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    font-weight: 100;
    margin-top: 12px;
    font-size: 24px;
}

/* Small device responsiveness */
@media screen and (max-width: 576px) {
    html{
        font-size: 16px;
    }
    .hide{
        display: none;
    }
    .banner-img img{
        width: 80vw;
    }
    .menu-bar{
        display: block;

    }
    .menu-brand{
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        flex-direction: row-reverse;
        width: 80%;
    }
    .brand{
        text-align: center;
        font-size: 22px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content h1{
        font-size: 1.75rem;
        margin-top: 24px;
    }
    .banner-content p{
        font-weight: 500;
    }

    .logo-container{
        grid-template-columns: repeat(4, 1fr);
    }
    .brand-logo hr{
        display: none;
    }
    .card-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .featured-product{
        flex-direction: column-reverse;
    }
}

@media screen  and (min-width: 576px) and (max-width: 992px) {
    .banner-content h1{
        font-size: 2rem;
    }
    .banner-content{
        margin-right: 24px;
    }
    .banner-img img{
        width: 35vw;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .featured-product img{
        width: 40vw;
    }
}